<main>

			<%= image_tag("bkb_logo.png", class: "logo") %>


<section class="hero">
<h1>
<span class="text-blue">BKB Engineering, Inc.</span> is a small professional consulting firm providing personalized services in the areas of <span class="text-blue">civil engineering, land surveying and planning for projects</span> throughout East Central Illinois. </h1>
</section>

<section class="information">
		<%= image_tag("plans.jpg", class: "plans-background") %>

	<div class="about flex-container aifs border-top padding-tbo">
		<div class="quarter"><p><b class="text-blue">about</b></p></div>
		<div class="three-fourths">
			<div class="flex-container aifs padding-bo">
				<div class="quarter"><p><b>company profile</b></p></div>
				<div class="three-fourths">
					<p>Since 2001, BKB Engineering Inc. has provided professional services for public works, agricultural and land development projects including residential, commercial, retail, office, warehouse, mixed-use and industrial.</p>
				</div>
			</div>	
			<div class="flex-container aifs border-top padding-to">
				<div class="quarter"><p><b>philosophy</b></p></div>
				<div class="three-fourths">
					<p>Our team strives to be proactive and client responsive. BKB understands that our clients are constantly challenged with meeting project goals within a dynamic and time sensitive environment. Our dedication to team work and diligent work ethic make our services an invaluable asset to our clients.</p>
				</div>
			</div>		
		</div>
	</div>
	<div class="services flex-container aifs border-top padding-tbo">
		<div class="quarter"><p><b class="text-blue">services</b></p></div>
		<div class="three-fourths">
			<div class="flex-container aifs">
				<div class="quarter"><p><b></b></p></div>
				<div class="three-fourths flex-container">
					<div class="half">
						<p>Site Feasibility Studies<br>
						   ALTA / NSPS Land Title Surveys<br>
						   Topographic and Boundary Surveying<br>
						   Utility Design<br>
						   Easement Preparation<br> 
						   Plan Review<br>
						   Permitting
						 </p>
					</div>
					<div class="half">
				        <p>Subdivisions<br>
						Site Development Design<br>
						Agricultural Engineering<br>
						Hydrology Studies<br>
						Roadway Design<br>
						Construction Services<br>
						Construction Layout</p>
					</div>
				</div>
			</div>		
		</div>
	</div>
	<!-- <div class="about flex-container aifs border-top padding-tbo">
		<div class="quarter"><p><b>background</b></p></div>
		<div class="three-fourths">
			<div class="flex-container aifs padding-bo">
				<div class="quarter"><p><b>key personnel</b></p></div>
				<div class="three-fourths flex-container">
					<div class="half">
					<p>Bryan K. Bradshaw, PE, PLS<br>
					Pricinpal / President<br> BKB Engineering, Inc.</p>
				</div>
				<div class="half">
					<p>Bachelor of Science in Civil Engineering<br>
					University of Illinois at Urbana-Champaign</p>
					<p>Colorado State University<br>
					Advanced Degree Coursework</p>
				</div>
				</div>
			</div>
			<div class="flex-container aifs border-top padding-tbo">
				<div class="quarter"><p><b>experience</b></p></div>
				<div class="three-fourths">
					<p>Mr. Bradshaw has more than 20 years experience as a civil engineer and land surveyor.  His experience includes roadway/infrastructure, land development and subdivision projects for municipal, residential and commercial clients.</p>

<p>Mr. Bradshaw has provided a full compliment of services including surveying, planning, zoning assistance, traffic studies, stormwater management studies, preparation of construction documents and construction administration. His involvement in transportation, land development and subdivision projects spans from conceptual layout through construction documents to construction completion.  His approach to engineering and surveying consists of creative problem solving, responsive client communication and successful project implementation.</p>

<p>Before founding BKB Engineering, Mr. Bradshaw received a broad cross-section of engineering experience in the transportation, geotechnical, structural and environmental fields.  At the Illinois Department of Transportation, Mr. Bradshaw was responsible for construction observation and material testing for IDOT projects including documentation.  At prior firms, Mr. Bradshaw was a project engineer & project manager for various engineering projects including several IDOT roadway, surveying and bridge projects</p>
				</div>
			</div>
			<div class="flex-container aifs border-top padding-to">
				<div class="quarter"><p><b>registrations &<br> memberships</b></p></div>
				<div class="three-fourths">
					<p>llinois Licensed Professional Engineer No. 062-052891<br>
Ohio Licensed Professional Engineer No. E64869<br>
Illinois Professional Land Surveyor No. 035-003738</p>
					<p>Illinois Professional Land Surveyors Association<Br>
Illinois Society of Professional Engineers</p>
				</div>
				
			</div>		
		
		</div> 
	</div>-->
</section>
<section class="contact-us flex-container padding-tbo">
	<div class="flex-container aic three-fourths">
		<div class="">
					<h2 class="text-blue">Contact information</h2>

			<p> 			<%= image_tag("email-icon.png", class: "icon") %>
<b>email</b>: <a href="mailto:bbradshaw@bkbeng.com">bbradshaw@bkbeng.com</a></p></a>
			<p>	<%= image_tag("office-icon.png", class: "icon") %><b>office</b>: 217-531-2971</p>
			<p>	<%= image_tag("mobile-icon.png", class: "icon") %><b>cell</b>: 217-840-3546</p>
			<p>	<%= image_tag("fax-icon.png", class: "icon") %><b>fax</b>: 217-531-2211</p>
		</div>
	</div>
	<div class="fw">
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12204.173184165626!2d-88.2438816!3d40.1190386!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880cd74cfef70f51%3A0x13f9282bbd9b9aac!2sBKB%20Engineering!5e0!3m2!1sen!2sus!4v1680199826594!5m2!1sen!2sus" width="100%" height="450"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
</section>
</main>
<style>
	@media only screen and (max-width: 588px) {
    main { 
      padding: 1rem; 
      max-width: 1000px; 
      margin: 0 auto; 
    }
    .hero h1, h2 { font-size: 18pt }
    .padding-to { padding-top: 10px; }
    .padding-tbo {padding: 10px 0}
    .padding-bo {padding-bottom: 10px;}
    .logo { width: 200px; margin: 0 auto; display: block; }
      .icon { width: 25px; vertical-align: middle; margin-right: 5px; }

	}
  @media only screen and (min-width: 589px) {
    .flex-container { display: flex; }
    .quarter { width: 25%;  }
    .three-fourths { width: 75%;  }
    .one-third { width: 33%; }
    .two-thirds { width: 66%; }
    main { 
      padding: 4rem; 
      max-width: 1000px; 
      margin: 0 auto; 
    }
    .hero {  padding: 50px 0; }
    .hero h1, h2 { font-size: 24pt }
    .aifs { align-items: flex-start; }
    .aic { align-items: center; }
    .half { width: 50%; }
    .padding-to { padding-top: 20px; }
    .padding-tbo {padding: 20px 0}
    .padding-bo {padding-bottom: 20px;}
    .hero h1 { font-size: 24pt }
    .logo { width: 300px }
      .icon { width: 30px; vertical-align: middle; margin-right: 10px; }

  }
	iframe { border: none; }
	.contact-us { 
    border-top: 1px solid black; 
    border-bottom: 1px solid black; 
  }
	.fw { width: 100%; }
	.border-top { border-top: 1px solid black; }
	.plans-background {
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: .08;
    left: 0;
  }

</style>
